In [1]:
import pandas as pd

In [3]:

censusdata = pd.read_csv('shared_data_read_only/Census-Data/ACSST5Y2022.S2201-Data.csv')
censusdata

/tmp/ipykernel_37368/222041486.py:1: DtypeWarning: Columns (2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,63,64,65,66,67,70,71,72,73,74,75,76,77,154,155,156,157,158,159,160,161,162,163,164,165,166,167,168,169,170,171,172,173,174,175,176,177,178,179,180,181,182,183,184,185,186,187,188,189,190,191,192,193,194,195,196,197,198,199,200,201,202,203,204,205,206,207,208,209,210,211,212,213,214,215,216,217,218,219,222,223,224,225,226,227,228,229,306,307,308,309,310,311,312,313,314,315,316,317,318,319,320,321,322,323,324,325,326,327,328,329,330,331,332,333,334,335,336,337,338,339,340,341,342,343,344,345,346,347,348,349,350,351,352,353,354,355,356,357,358,359,360,361,362,363,364,365,366,367,368,369,370,371,374,375,376,377,378,379,380,381) have mixed types. Specify dtype option on import or set low_memory=False.
  censusdata = pd.read_csv('shared_data_read_only/Census-Data/ACSST5Y2022.S2201-Data.csv')

,GEO_ID,NAME,S2201_C01_001E,S2201_C01_001M,S2201_C01_002E,S2201_C01_002M,S2201_C01_003E,S2201_C01_003M,S2201_C01_004E,S2201_C01_004M,...,S2201_C06_034M,S2201_C06_035E,S2201_C06_035M,S2201_C06_036E,S2201_C06_036M,S2201_C06_037E,S2201_C06_037M,S2201_C06_038E,S2201_C06_038M,Unnamed: 458
0,Geography,Geographic Area Name,Estimate!!Total!!Households,Margin of Error!!Total!!Households,Estimate!!Total!!Households!!With one or more ...,Margin of Error!!Total!!Households!!With one o...,Estimate!!Total!!Households!!No people in the ...,Margin of Error!!Total!!Households!!No people ...,Estimate!!Total!!Households!!Married-couple fa...,Margin of Error!!Total!!Households!!Married-co...,...,Margin of Error!!Percent households not receiv...,Estimate!!Percent households not receiving foo...,Margin of Error!!Percent households not receiv...,Estimate!!Percent households not receiving foo...,Margin of Error!!Percent households not receiv...,Estimate!!Percent households not receiving foo...,Margin of Error!!Percent households not receiv...,Estimate!!Percent households not receiving foo...,Margin of Error!!Percent households not receiv...,NaN
1,1400000US01001020100,Census Tract 201; Autauga County; Alabama,700,114,323,74,377,114,444,125,...,(X),(X),(X),19.2,12.5,24.5,10.7,56.3,15.4,NaN
2,1400000US01001020200,Census Tract 202; Autauga County; Alabama,544,101,298,85,246,62,154,41,...,(X),(X),(X),7.2,8.1,38.6,20.3,54.3,18.8,NaN
3,1400000US01001020300,Census Tract 203; Autauga County; Alabama,1305,227,565,166,740,189,569,192,...,(X),(X),(X),10.1,5.7,28.6,12.0,61.2,13.3,NaN
4,1400000US01001020400,Census Tract 204; Autauga County; Alabama,1666,219,948,179,718,165,1048,212,...,(X),(X),(X),27.1,11.1,34.4,11.3,38.5,10.2,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
85392,1400000US72153750501,Census Tract 7505.01; Yauco Municipio; Puerto ...,1661,188,1052,158,609,156,562,126,...,(X),(X),(X),34.2,14.7,29.0,13.5,36.7,13.7,NaN
85393,1400000US72153750502,Census Tract 7505.02; Yauco Municipio; Puerto ...,895,113,394,68,501,113,266,74,...,(X),(X),(X),42.0,13.7,32.0,13.9,26.0,13.6,NaN
85394,1400000US72153750503,Census Tract 7505.03; Yauco Municipio; Puerto ...,685,116,402,85,283,90,227,72,...,(X),(X),(X),34.1,18.7,26.6,14.8,39.3,17.9,NaN
85395,1400000US72153750601,Census Tract 7506.01; Yauco Municipio; Puerto ...,1557,225,776,163,781,164,732,187,...,(X),(X),(X),21.6,9.7,38.8,15.3,39.6,14.9,NaN
85396,1400000US72153750602,Census Tract 7506.02; Yauco Municipio; Puerto ...,898,148,686,143,212,97,437,121,...,(X),(X),(X),43.8,21.6,44.3,20.0,11.9,13.6,NaN

In [4]:
snap=censusdata[['GEO_ID','NAME','S2201_C03_012E','S2201_C03_019E']]
snap

,GEO_ID,NAME,S2201_C03_012E,S2201_C03_019E
0,Geography,Geographic Area Name,Estimate!!Households receiving food stamps/SNA...,Estimate!!Households receiving food stamps/SNA...
1,1400000US01001020100,Census Tract 201; Autauga County; Alabama,0,5
2,1400000US01001020200,Census Tract 202; Autauga County; Alabama,0,22
3,1400000US01001020300,Census Tract 203; Autauga County; Alabama,0,0
4,1400000US01001020400,Census Tract 204; Autauga County; Alabama,0,0
...,...,...,...,...
85392,1400000US72153750501,Census Tract 7505.01; Yauco Municipio; Puerto ...,8,122
85393,1400000US72153750502,Census Tract 7505.02; Yauco Municipio; Puerto ...,40,53
85394,1400000US72153750503,Census Tract 7505.03; Yauco Municipio; Puerto ...,0,76
85395,1400000US72153750601,Census Tract 7506.01; Yauco Municipio; Puerto ...,14,49
85396,1400000US72153750602,Census Tract 7506.02; Yauco Municipio; Puerto ...,0,45

In [5]:
philadelphiasnap_data=snap[snap['NAME'].str.contains('Philadelphia')]

In [6]:
philadelphiasnap_data

,GEO_ID,NAME,S2201_C03_012E,S2201_C03_019E
65977,1400000US42101000101,Census Tract 1.01; Philadelphia County; Pennsy...,0,0
65978,1400000US42101000102,Census Tract 1.02; Philadelphia County; Pennsy...,0,0
65979,1400000US42101000200,Census Tract 2; Philadelphia County; Pennsylvania,0,16
65980,1400000US42101000300,Census Tract 3; Philadelphia County; Pennsylvania,0,0
65981,1400000US42101000401,Census Tract 4.01; Philadelphia County; Pennsy...,0,0
...,...,...,...,...
66380,1400000US42101980905,Census Tract 9809.05; Philadelphia County; Pen...,0,0
66381,1400000US42101980906,Census Tract 9809.06; Philadelphia County; Pen...,0,0
66382,1400000US42101989100,Census Tract 9891; Philadelphia County; Pennsy...,0,0
66383,1400000US42101989200,Census Tract 9892; Philadelphia County; Pennsy...,0,0
66384,1400000US42101989300,Census Tract 9893; Philadelphia County; Pennsy...,0,0

In [7]:
philadelphiasnap_data.to_csv('singlesnap_data2.csv', index=False)

In [8]:
import pandas as pd


snapdata2 = pd.read_csv('singlesnap_data2.csv')
zipdata = pd.read_csv('shared_data_read_only/Geography-Mapping/ZIP_TRACT_122023.csv')

In [12]:

snapdata2['GEO_ID_11'] = snapdata2['GEO_ID'].astype(str).str[-11:]

snapdata2['GEO_ID_11'] = snapdata2['GEO_ID_11'].astype(int)
zipdata['TRACT'] = zipdata['TRACT'].astype(int)

In [13]:

merged_df = pd.merge(snapdata2, zipdata[['TRACT', 'ZIP']], left_on='GEO_ID_11', right_on='TRACT', how='left')


merged_df = merged_df.drop(['GEO_ID_11', 'TRACT'], axis=1)
merged_df

,GEO_ID,NAME,S2201_C03_012E,S2201_C03_019E,ZIP
0,1400000US42101000101,Census Tract 1.01; Philadelphia County; Pennsy...,0,0,19106
1,1400000US42101000101,Census Tract 1.01; Philadelphia County; Pennsy...,0,0,19181
2,1400000US42101000102,Census Tract 1.02; Philadelphia County; Pennsy...,0,0,19106
3,1400000US42101000102,Census Tract 1.02; Philadelphia County; Pennsy...,0,0,19123
4,1400000US42101000200,Census Tract 2; Philadelphia County; Pennsylvania,0,16,19106
...,...,...,...,...,...
674,1400000US42101989300,Census Tract 9893; Philadelphia County; Pennsy...,0,0,19120
675,1400000US42101989300,Census Tract 9893; Philadelphia County; Pennsy...,0,0,19124
676,1400000US42101989300,Census Tract 9893; Philadelphia County; Pennsy...,0,0,19134
677,1400000US42101989300,Census Tract 9893; Philadelphia County; Pennsy...,0,0,19140
678,1400000US42101989300,Census Tract 9893; Philadelphia County; Pennsy...,0,0,19160

In [14]:
merged_df.to_csv('philadelphiasnap_data2.0.csv', index=False)

In [27]:
import pandas as pd

newsnap= pd.read_csv('philadelphiasnap_data2.0.csv')
zipmiliesdata= pd.read_csv('15milesraduis.csv')

zipmiliesdata.loc[:, 'ZIP_2'] = zipmiliesdata['ZIP_2'].astype(int)

In [30]:


merged_df = pd.merge(newsnap, zipmiliesdata[['ZIP_2']], left_on='ZIP', right_on='ZIP_2', how='left')

merged_df

,GEO_ID,NAME,S2201_C03_012E,S2201_C03_019E,ZIP,ZIP_2
0,1400000US42101000101,Census Tract 1.01; Philadelphia County; Pennsy...,0,0,19106,19106
1,1400000US42101000101,Census Tract 1.01; Philadelphia County; Pennsy...,0,0,19181,19181
2,1400000US42101000102,Census Tract 1.02; Philadelphia County; Pennsy...,0,0,19106,19106
3,1400000US42101000102,Census Tract 1.02; Philadelphia County; Pennsy...,0,0,19123,19123
4,1400000US42101000200,Census Tract 2; Philadelphia County; Pennsylvania,0,16,19106,19106
...,...,...,...,...,...,...
674,1400000US42101989300,Census Tract 9893; Philadelphia County; Pennsy...,0,0,19120,19120
675,1400000US42101989300,Census Tract 9893; Philadelphia County; Pennsy...,0,0,19124,19124
676,1400000US42101989300,Census Tract 9893; Philadelphia County; Pennsy...,0,0,19134,19134
677,1400000US42101989300,Census Tract 9893; Philadelphia County; Pennsy...,0,0,19140,19140
678,1400000US42101989300,Census Tract 9893; Philadelphia County; Pennsy...,0,0,19160,19160

In [31]:
merged_df.to_csv('snapmiles.csv', index=False)

In [32]:
df=pd.read_csv('snapmiles.csv')

In [33]:
df.head()

,GEO_ID,NAME,S2201_C03_012E,S2201_C03_019E,ZIP,ZIP_2
0,1400000US42101000101,Census Tract 1.01; Philadelphia County; Pennsy...,0,0,19106,19106
1,1400000US42101000101,Census Tract 1.01; Philadelphia County; Pennsy...,0,0,19181,19181
2,1400000US42101000102,Census Tract 1.02; Philadelphia County; Pennsy...,0,0,19106,19106
3,1400000US42101000102,Census Tract 1.02; Philadelphia County; Pennsy...,0,0,19123,19123
4,1400000US42101000200,Census Tract 2; Philadelphia County; Pennsylvania,0,16,19106,19106

In [35]:
groupeddf=df.groupby(by='ZIP')[['S2201_C03_012E','S2201_C03_019E']].sum()

In [36]:
groupeddf

       S2201_C03_012E  S2201_C03_019E
ZIP
19020               0              58
19046               0              10
19095               0              33
19101               0               0
19102               0               2
19103               0             132
19104             279             499
19105               0               9
19106               0              27
19107               0              51
19108               0              24
19109               0               2
19110               0               2
19111             577             873
19112               0              65
19114             110             322
19115              72             221
19116              37             265
19118              68              66
19119             256             529
19120             973            1810
19121             433            1155
19122             196             726
19123              38             237
19124            1470            2158
19125             357            1118
19126             110             509
19127              20              23
19128              27              90
19129               0             317
19130             134             303
19131             210             779
19132             160            1699
19133             554            1927
19134             610            1811
19135             329             675
19136             184             402
19137             204             299
19138             208            1180
19139             335            1126
19140             608            3092
19141             183             903
19142             178             673
19143             298            1695
19144             293             949
19145             247             795
19146              56             585
19147              45             281
19148             289             519
19149             807            1072
19150              60             502
19151             243             424
19152              75             236
19153             109             375
19154             344             135
19160               0               0
19172               0               0
19176               0               0
19181               0               0
19192               0               0

In [37]:
len(groupeddf)

60

In [39]:
len(groupeddf.index.unique())

60

In [3]:
groupeddf.rename(:columums={'S2201_C03_012E':'SingleDad','S2201_C03_019E':'SingleMom'})

SyntaxError: invalid syntax (1946044573.py, line 1)

In [41]:
groupeddf.to_csv('singleparrent_perzip.csv')